//This page is for the archive pages (the sidebar links!), and the Shop page (archive-products)



.shop-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.shop-title {
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    font-family: $font_secondary;
    font-weight: bold;
	text-transform: uppercase;
	font-size: 38px;
	font-weight: bold;
}

.taxonomy-description {
    p {
        text-align: center;
    }
}

.shop-nav {
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border-bottom: 1px dashed $dashed_border;
    
    li {
        text-transform: uppercase;
        padding: 0 25px 25px 25px;
        font-size: 19px;
        display: inline-block;

        a {
            color: #808080;
            text-decoration: none;

            p {
                font-family: $font_secondary;
            }
        }

        a:hover {
            color: #2f1339;
        }
    }
}


//The individual Shop products
.shop-product{
    display: inline-block;
    flex-basis: 20%;
    height: 300px;
    width: 20%;
    border: 1px solid #a1a1a1;
    margin: 15px;
    

    .text-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 15px;
        font-size: 16px;

        .price-text {
            overflow: hidden;
            white-space: nowrap;
        }

        //The '...'s between item name and price
        .price-text:after{
            content: '................................';
            display: inline;
            overflow: hidden;
        }

        p {
            display: inline-block;
            margin: 0;
        }

        
    }

    .image-wrapper {
        position: relative;
        height: 250px;
        overflow: hidden;

        img {
            position: absolute;
            left: -30%;
            border-bottom: 5px inset $solid_border;
            max-height: 250px;
            max-width: none;
            width: auto;
            // transform: translate(-50%,-52%);
        }
    }
    
}

.product {
    margin-top: 100px;


    .price-text {
        font-weight: bold;
        font-family: $font_secondary;
        font-size: 30px;
    }

    .shop-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 100px 0;
        font-size: 14px;

        .item-img {
            flex-basis: 50%;
        }

        .item-text {
            padding: 0 40px;
            flex-basis: 50%;

            p {
                font-size: 16px;
                line-height: 28px;
            }

            h2 {
                font-size: 38px;
                color: $color__link-hover;
                text-transform: uppercase;
                font-family: $font_secondary;
                font-weight: bold;
                margin: 0;
            }

            .price-text {
                font-size: 28px;
                font-weight: normal;
            }

            button {
                margin: 0;
                width: 100px;

                .fa {
                    padding-right: 5px;
                }
            }
        }
    }
}

#primary-taxonomy {
    flex-basis: 73%;
    border-right: 1px solid $solid_border;
}

.archive {

    #primary {
        padding-top: 0;
    }

    .search-title {
        text-transform: uppercase;
        border-bottom: $solid-border;
        font-family: $font_secondary;
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 50px;
    }
}

