.shop-flex {
    display: flex;
    width: 100%;
    // justify-content: center;
    flex-wrap: wrap;
}

.shop-product{
    display: inline-block;
    flex-basis: 20%;
    height: 300px;
    border: 1px solid #a1a1a1;
    margin: 15px;

    p {
        text-align: center;
    }

    img {
        border-bottom: 5px inset lightgray;
        height: 80%;
    }
}