/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* New CSS */

#content {
	width: 1120px;
	margin: 0 auto;
}

.site-content {
	display: flex;
	flex-wrap: wrap;
}

#primary {
	flex-basis: 73%;
	margin: 55px auto 0 auto;
	padding: 5% 5% 0 0;
	border-right: 1px solid #e1e1e1;

	.entry-title{
		text-transform: uppercase;
	}

	h2 {
		font-family: 'novecentosanswide-demibold-webfont';
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
	}
}

.entry-title {
	font-family: 'novecentosanswide-demibold-webfont';
}

.single-post {
	@include picture-text;
} 

.blog {
	@include picture-text;
}

button {
	border: 1px solid black;
	width: 140px;
	height: 40px;
	padding: 5px;
	margin: 0 20px 40px 20px;
	background-color: white;
	text-transform: uppercase;
	font-size: 14px;

//brian checker

	a {
		text-decoration: none;
		font-family: 'novecentosanswide-normal-webfont';
		color: black;
	}
}

button:hover {
	background-color: #248A83;
	color: white;

	a {
		color: white;
	}
}

input[type=submit] {
	border: none;
	width: 100px;
	height: 40px;
	color: white;
	padding: 5px;
	margin: 0 20px 40px 0;
	background-color: #248A83;
	text-transform: uppercase;
	font-size: 14px;	
}


