
// #colophon {
//     height: 512px;
//     width: 100%;
//     display: block;
//     color: black;
//     // background-image: url('../images/dark-wood@2x.png');
//     background-size: 512px 512px;
// }

#colophon {
    height: 512px;
    background-image: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px;
    

    .fa {
        font-size: 1.25rem;
        padding-right: 7px;
    }

    .site-info {
        display: flex;
        line-height: 1.75rem;
        margin: 0 auto;

        .contact-info {
            display: flex;
            flex-direction: column;
            color: white;
            padding: 5%;
            flex-basis: 27%;

            h3 {
                color: #d99054;
                font-family: 'novecentosanswide-demibold-webfont';
            }

            a {
                color: white;
                text-decoration: none;
                padding-top: 5px;
            }
        }

        .business-hours {
            color: white;
            padding: 5%;       
            display: flex;
            flex-direction: column;
            flex-basis: 30%;

            .day-of-week {
                padding: 7px;
            }

            h3 {
                font-family: 'novecentosanswide-demibold-webfont';
                color: #d99054;
            }
        }
    }
    
    .inhab-logo-text {
        flex-basis: 40%;

        img {
            width: 100%;
            padding: 15%;
        }
    }

    .copy-right {
        position: relative;
        margin: 0 auto;
        color: white;
        width: 100%;
        text-align: center;
        bottom: -100px;
    }
}

