
#colophon {
    height: 412px;
    overflow: hidden;
    background-image: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px;

    .main-footer-container {
        height: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .inhab-logo-text {
            display: flex;
           flex-basis: 50%;
           padding: 5% 5% 0 5%;
           justify-content: flex-end;

            img {
                width: 60%;
                align-self: flex-start;
            }
        }

        .footer-widgets {
            flex-basis: 50%;
            display: flex;
            color: white;
            padding: 5% 5% 0 5%;
            margin: 0;
            flex-wrap: wrap;

            .day-of-week {
                font-family: $font__main;
                font-weight: bold;
            }

            aside {
                height: 100%;
                flex-basis: 50%;
                margin: 0;

                .fa {
                    font-size: 20px;
                    padding-right: 10px;
                }

                h2 {
                    margin: 0;
                    text-align: left;
                }

                .contact-info {

                    a{  
                        margin-top: 10px;
                        color: white;
                    }
                }

                .widget-title{
                    font-size: 19px;
                    text-transform: uppercase;
                    color: $color__link-hover;
                    font-family: $font_secondary;
                    margin-top: 0;
                }
            }
        }


    }

    

    .copy-right {
        position: relative;
        margin: 0 auto;
        color: white;
        width: 100%;
        text-align: center;
        bottom: -100px;
    }
}

.widget {
    
    p {
        display: inline-block;
    }
}

