.hero-banner {
    height: 800px;
    background: url("../../images/logos/inhabitent-logo-full.svg") center center no-repeat,
    linear-gradient(180deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg);
    background-size: auto, cover, cover;
}

.front-page-content {
    
    h2 {
        font-family: $font_secondary;
        font-weight: normal;
    }
}

.shopstuff {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    padding: 0 5%;

    .shop-stuff-item:hover {
        border: 1px solid $color__link-hover;
        border-top: 5px solid $color__link-hover;
    }

    .shop-stuff-item {
        flex-basis: 25%;
        margin: 10px;
        border: 1px solid $solid_border;
        border-top: 5px solid $solid_border;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0 10px;
            flex-basis: 20%;
            text-align: center;
        }

        .button-link {
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            font-family: $font_secondary;
            padding: 10px 0;
            text-align: center;
            width: 120px;
            height: 20px;
            color: white;
            background-color: #248A83;
            border: none;
            margin: 0;
            flex-basis: 15%;
            overflow: visible;
            margin-top: 30px;
        }

        .button-link:hover {
            background-color: #1f7a74;
        }

        img {
            height: 90px;
            width: auto;
            padding: 10px;
            flex-basis: 50%;
        }
    }
}

.recent-posts {
    display: flex;
    height: 425px;
    justify-content: center;

    .recent-post {
        position: relative;
        margin: 15px;
        border: 1px solid $solid_border;
        width: 400px;
        height: 400px;

        .post-text {
            width: 100%;
            padding:10px;
            font-size: 12px;
        }

        .post-title {
            width: 100%;
            text-transform: uppercase;
            font-family: $font_secondary;
            font-weight: bold;
            color: #248A83;
            font-size: 20px;
            padding: 0 15px;
        }

        button {
            font-family: $font_secondary;
            position: absolute;
            bottom: -30px;
            margin-left: 10px;
        }

        .post-image{
            width: 100%;
            height: 60%;
            overflow: hidden;
            border-bottom: 5px inset $solid_border;

            img {
                height: 100%;
            }
        }
    }
}

.home{
    a:hover {
        color: #f0e4d1;
    }

    h2 {
        margin: 60px 0;
        font-size: 38px;
        color: #404040;
        text-align: center;
        text-transform: uppercase;
        font-family: $font_secondary;
    }
}

.canoe-pic:hover, .mountain-pic:hover, .night-pic :hover, .beach-pic :hover {
    color: #f0e4d1;
}


.latest-adventures {
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 450px;
    color: white;
    font-family: $font_secondary;

    button {
        background: rgba(0,0,0,0);
        border: 1px solid white;
        
        a {
            color: white;
        }

    }

    .canoe-pic {
        height: 100%;
        width: 47%;
        float: left;
        background:linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
         url("../../images/adventure-photos/canoe-girl.jpg"),
        rgba(0,0,0,.35);
        background-size: cover;
        padding: 0 3%;
        margin: 0 10px;

        p {
            font-size: 48px;
        }
    }

    .three-pics {
        height: 100%;
        width: 50%;
        float: right;

        .beach-pic {
            display: inline-block;
            float: right;
            height: 48%;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
            url("../../images/adventure-photos/beach-bonfire.jpg");
            background-position: center;
            background-size: 100%;
            overflow: hidden;
            padding: 0 10px;
            margin-bottom: 22px;

            p {
                font-size: 38px;
            }

            button {
                position: relative;
                bottom: 25px;
            }
        }
        .mountain-pic {
            display: inline-block;
            height: 47%;
            width: 48%;
            background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
            url("../../images/adventure-photos/mountain-hikers.jpg");
            background-size: cover;
            padding: 0 10px;
            margin-right: 20px;

            p {
                font-size: 24px;
            }
        }
        .night-pic {
            float: right;
            height: 47%;
            width: 48%;
            background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
            url("../../images/adventure-photos/night-sky.jpg");
            background-size: contain;
            padding: 0 10px;

            p {
                font-size: 24px;
            }
        }
    }

}

.btn-wrp {
    width: 1120px;
    margin-left: 69px;
    margin-bottom: 30px;
}
.adv-btn {
    width: 220px;
    height: 50px;
    margin-left: 20px;
    font-size: 19px;
    border: none;
    color: white;
    background-color:#248A83;
    font-family: $font_secondary;
}

#primary-menu {
    li{
        a:hover{
            color: #f0e4d1;
        }
        
    }
    
}

