.hero-banner {
    height: 800px;
    background: url("../../images/logos/inhabitent-logo-full.svg") center center no-repeat,
    linear-gradient(180deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg);
    background-size: auto, cover, cover;
}


