/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 5px;
	background: url(../../images/logos/inhabitent-logo-tent.svg);
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: 5%; 
	background-color: white;
	opacity: .8;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
		flex-direction: row;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				display: inline-block;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* New CSS */

#masthead {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	z-index: +1;

	i {
		padding: 10px;

		.fa-search-icon {
	
		}
	}
	

	ul {
		display: flex;
		// padding-right: 70px;

		li {
			display: inline-block;
			padding: 10px;

			a {
				color: #808080;
				text-transform: uppercase;
			}
		}
	}
}
