/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.home .main-navigation {
	background: url(../../images/logos/inhabitent-logo-tent-white.svg);
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: 5%; 
}

.main-navigation {
	clear: both;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 5px;
	background: url(../../images/logos/inhabitent-logo-tent.svg);
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: 5%; 
	background-color: rgba(0, 0, 0, 0);

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
		flex-direction: row;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				display: inline-block;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* New CSS */

#masthead {
	font-family: $font_secondary;
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 1px solid $solid_border;
	z-index: +1;
	background: rgba(255, 255, 255, .8 );

	button {
		color: #808080;
	}

	.home-link {
		width: 100px;
		height: 50px;
		position: absolute;
		top: 10px;
		left: 60px;
	}

	.site-title {
		height: 30px;
		width: 30px;
	}

	i {
		padding: 10px;
	}
	

	ul {
		display: flex;

		li {
			display: inline-block;
			padding: 10px;

			a {
				color: #808080;
				text-decoration: none;
				text-transform: uppercase;
			}

			a:hover {
				color: #2f1339;
			}	
		}
	}

	i {
		color: #808080;
		padding: 10px;
	}
}

#masthead-home {
	padding: 0 5%;
	font-family: $font_secondary;
	width: 100%;
	z-index: +1;
	position: absolute;
	background: rgba(255, 255, 255, 0 );

	::placeholder {
		color: #f0e4d1;
	}

	button {
		color: white;
	}

	.home-link {
		width: 100px;
		height: 50px;
		position: absolute;
		top: 10px;
		left: 60px;
	}

	.site-title {
		height: 30px;
		width: 30px;
	}

	.site-branding a {
		width: 100px;
		height: 100px;
	}

	ul {
		display: flex;

		li {
			display: inline-block;
			padding: 10px;

			a {
				color: white;
				text-transform: uppercase;
				text-decoration: none;
			}

			a:hover {
				color: #f0e4d1;
			}	
		}
	}
	i {
		color: white;
		padding: 10px;
	}	
}

.search-form {

	fieldset {
		border: none;
		padding: 0;

		button {
			background-color: rgba(0, 0, 0, 0);
			display: inline-block;
			margin: 0;
			padding: 0;
			border: none;
			width: auto;
			outline: none;
		}

		button:hover {
			background-color: rgba(0, 0, 0, 0);
			border: none;
		}

		button:focus {
			border: none;
		}

		.search-field {
			color: $color__link-hover;
			outline: none;
			border: none;
			background: rgba(0,0,0,0);
			transition: all 1s;
			width: 0px;
			text-transform: uppercase;
			font-family: $font_secondary;
		}

		.search-width {
			width: 180px;
		}

		.search-field:focus {
			border: none;
		}
	}
}


