.about-head {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),#969696 url(../../images/about-hero.jpg);
    background-size: cover, cover;

    h1 {
        align-self: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 46px;
        color: white;
        font-family: 'novecentosanswide-demibold-webfont';
    }
}


.page-about {
	.entry-content{
		margin: 5% 15%;
	}

	h2 {
		font-size: 34px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'novecentosanswide-demibold-webfont';
	}

    .entry-title {
        display: none;
    }
}