.search {

    .search-title {
        text-transform: uppercase;
        font-family: $font_secondary;
        font-weight: bold;
        border-bottom: 1px solid #a1a1a1;
    }

    h1 {
        font-size: 38px;
        padding-bottom: 20px;
        margin-top: 0;
    }

    #primary {
        h2 {
            color: #248A83;
        }

    }

    button {
        margin-left: 0;
    }
}