#secondary {
    height: 100%;
    flex-basis: 27%;
	margin: 55px auto 0 auto;
	padding: 5% 0 0 5%;
    color: #2f1339;
    line-height: 1.75rem;

    h2 {
        font-family: 'novecentosanswide-demibold-webfont';
    }

    i {
		width: 30px;
	}

    a {
        color: #a1a1a1;
    }
}

.bold-sidebar {
    font-size: 16px;
    font-family: 'merriweather-bold-webfont';
    font-weight: 900;
}

.widget-title {
    font-size: 26px;
}